<h2>Admin Dashboard</h2>
<div>
  <h3>Add User</h3>
  <form (ngSubmit)="addUser()">
    <input type="text" [(ngModel)]="newUser.username" name="username" placeholder="Username" required>
    <input type="password" [(ngModel)]="newUser.password" name="password" placeholder="Password" required>
    <button type="submit">Add User</button>
  </form>
</div>

<div>
  <h3>Users</h3>
  <ul>
    <li *ngFor="let user of users">
      {{ user.username }}
      <button *ngIf="user.userId" (click)="removeUser(user.userId)">Remove</button>
    </li>
  </ul>
</div>
